/* General Container */
.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Header */
.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 2rem;
  color: #333;
}

.header h2 {
  font-size: 1.5rem;
  color: #666;
}

.header h3 {
  font-size: 1.2rem;
  color: #999;
}

/* Error Message */
.error {
  color: red;
  text-align: center;
  margin-bottom: 20px;
}

/* Search Container */
.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.filter-select {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.button-container {
  text-align: left; /* Adjust as needed */
}

.btn-create {
  background-color: #28a745;
}

.btn-search {
  background-color: #007bff;
}

.btn-edit {
  background-color: #ffc107;
}

.btn-delete {
  background-color: #dc3545;
}

.btn-pagination {
  background-color: #6c757d;
}

/* Table */
.item-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.item-table th, .item-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.item-table th {
  background-color: #f8f9fa;
}

/* Pagination Controls */
.pagination-container {
  text-align: center;
  margin-top: 20px;
}

.pagination-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  margin: 0 5px;
}

.pagination-container button[disabled] {
  background-color: #ccc;
}

.spacer {
  margin-bottom: 20px; /* Adjust this value to control the amount of space */
}
