/* General Container */
.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Header */
.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 2rem;
  color: #333;
}

.header h2 {
  font-size: 1.5rem;
  color: #666;
}

.header h3 {
  font-size: 1.2rem;
  color: #999;
}

/* Error Message */
.error {
  color: red;
  text-align: center;
  margin-bottom: 20px;
}

/* Form */
.form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.button-space {
  display: inline-block;
  width: 10px; /* Adjust as needed */
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  margin: 5px; /* Add margin to ensure some space around buttons */
  text-decoration: none;
}

.btn-create {
  background-color: #28a745;
}

.btn-danger {
  background-color: #dc3545;
}

.button-container {
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn-create,
.btn-danger {
  display: inline-block;
  margin-right: 10px;
}

/* Table */
.item-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.item-table th,
.item-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.item-table th {
  background-color: #f8f9fa;
}

/* Search Container */
.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.filter-select {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.btn-search {
  background-color: #007bff;
}

/* Pagination Controls */
.pagination-container {
  text-align: center;
  margin-top: 20px;
}

.pagination-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  margin: 0 5px;
}

.pagination-container button[disabled] {
  background-color: #ccc;
}

.spacer {
  margin-bottom: 20px;
}

/* Button styles */
.btn-edit {
  background-color: #ffc107;
  color: white;
}

.btn-delete {
  background-color: #dc3545;
  color: white;
}

.btn-left {
  background-color: #f44336; /* Red for Delete */
  color: white;
}

.btn-right {
  background-color: #4CAF50; /* Green for Cancel */
  color: white;
}

.btn-pagination {
  background-color: #6c757d;
}

/* Button Container */
.button-container {
  text-align: left;
  margin-top: 20px;
}
